{% extends 'base.html' %}{% load static %} {% block meta %}
<title>Register</title>
<link rel="stylesheet" href="{% static "css/css.css" %}" />
<link
  href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Monoton&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet" />
<style>
  input {
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  body {
    background-position: top;
    background: url('/static/image/d.png'),
      linear-gradient(
        180deg,
        rgba(217, 237, 146, 0.6) 0%,
        rgba(181, 228, 140, 0.58) 10%,
        rgba(153, 217, 140, 0.56) 20%,
        rgba(118, 200, 147, 0.56) 32%,
        rgba(82, 182, 154, 0.58) 45%,
        rgba(52, 160, 164, 0.6) 58%,
        rgba(22, 138, 173, 0.64) 70%,
        rgba(26, 117, 159, 0.68) 82%,
        rgba(30, 96, 145, 0.72) 92%,
        rgba(24, 78, 119, 0.78) 100%
      );
  }

  .icon {
    color: hsl(189, 28%, 70%, 0.9);
  }
  input{
    border: 1px solid rgba(255, 255, 255, 0.6) !important;
  }
</style>

{% endblock meta%} {% block content %}
<img src="{% static 'image/h.gif' %}" class="decorate" alt="">
<div class="card">
  <div class="icon-container">
    <div class="inner">
      <i class="fa fa-registered" aria-hidden="true"></i>
    </div>
  </div>
  <div class="title-group">
    <h3 class="title">Register to Our Website</h3>
    <div class="subtitle">Step into the ultimate arena for football fans where passion meets performance</div>
  </div>
  <div style="margin-top: 2rem; display:flex; flex-direction: column; gap: 0.8rem; width:100%;overflow:hidden">
    {% if form.errors %}
          {% for field, errors in form.errors.items %}
            {% if field != '__all__' %}
              {% for error in errors %}
                <div class="alert">
                  <strong>{{ field|title }}:</strong> {{ error }}
                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}
    {% endif %}
     {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-warning ">
                {{ error }}
              </div>
            {% endfor %}
      {% endif %}
  </div>
  <form action="" method="post" style="display: flex;flex-direction: column;gap: 1.8rem;margin-top:1.7rem" onsubmit="((e) => e.preventDefault())()" id="form">
    {%  csrf_token %}
    <div class="input-group" style="flex-direction: row; gap: 0.5rem">
      <div class="input-group">
        <label for="">First Name</label>
        <input type="text" placeholder="First Name" name="first_name" id="" />
        <i class="fa icon fa-user" style="left: 13%" aria-hidden="true"></i>
        </div>
        <div class="input-group">
        <label for="">Last Name</label>
        <input type="text" placeholder="Last Name" name="last_name" id="" />
        <i class="fa icon fa-user" style="left: 13%" aria-hidden="true"></i>
        </div>
        </div>
        <div class="input-group">
      <label for="">Username</label>
      <input type="text" placeholder="Enter Your Username" name="username" id="" />
      <i class="icon fa fa-envelope" aria-hidden="true"></i>
      </div>
      <div class="input-group">
      <label for="">Password</label>
      <input type="password" placeholder="Enter Your Password" name="password1" id="" />
      <i class="fa icon fa-key" aria-hidden="true"></i>
      </div>
      <div class="input-group">
      <label for="">Confirm Password</label>
      <input type="password" placeholder="Confirm Your Password" name="password2" id="" />
      <i class="fa icon fa-lock" aria-hidden="true"></i>
      </div>

    <div class="buttons" style="flex-direction: column; gap: 0">
      <button class="button" style="font-family: inherit;" type="submit" form="form">Register</button>
      </div>
  </form>

  <div class="alternative">
    <div class="line"></div>
    <div class="alternative-text">Already have an account</div>
    <div class="line"></div>
  </div>
  <div class="buttons">
    <a class="button" style="background-color: hsl(45, 97%, 50%, 0.2)" href="{% url 'main:login' %}">Sign In</a>
  </div>
</div>

{% endblock content %}
