{% extends 'base.html' %}
{% load static %} 
{% block meta %} 
<title>Login</title> <link rel="stylesheet" href="{% static "css/css.css" %}" /> {% endblock meta %} {% block content %}
<img src="{% static 'image/h.gif' %}" class="decorate" alt="">
<div class="card">
  <div class="icon-container">
    <div class="inner">
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="title-group">
    <h3 class="title">Sign In with E-mail</h3>
    <div class="subtitle">Step into the ultimate arena for football fans where passion meets performance</div>
  </div>
   <div style="margin-top: 2rem; display:flex; flex-direction: column; gap: 0.8rem; width:100%;overflow:hidden">
    {% if form.errors %}
          {% for field, errors in form.errors.items %}
            {% if field != '__all__' %}
              {% for error in errors %}
                <div class="alert">
                  <strong>{{ field|title }}:</strong> {{ error }}
                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}
    {% endif %}
     {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-warning ">
                {{ error }}
              </div>
            {% endfor %}
      {% endif %}
  </div>
  <form action="" method="post" style="display: flex;flex-direction: column;gap: 1.1rem;margin-top:1.7rem;width:100%" onsubmit="((e) => e.preventDefault())()"  id="form"> 
    {% csrf_token %}
    <div class="input-group">
      <label for="">E-mail or Username</label>
      <input type="text" placeholder="Enter Your Email" name="username" id="" />
      <i class="icon fa fa-envelope" aria-hidden="true"></i>
    </div>
    <div class="input-group" style="margin-top: 1rem;" >
      <label for="">Password</label>
      <input type="password" placeholder="Enter Your Password" name="password" id="" />
      <i class="icon fa fa-key" aria-hidden="true"></i>
    </div>
    <div class="input-group" style="display: flex; width: 100%;justify-content: flex-end;">
      <a href=""  class="link">Forgot Password</a>
    </div>
    <div class="buttons" style="flex-direction: column; gap: 0">
      <button class="button" type="submit" form="form">Login</button>
      <a href="{% url 'main:register' %}" class="button">Register</a>
    </div>
  </form>

  <div class="alternative">
    <div class="line"></div>
    <div class="alternative-text">Or Sign In With</div>
    <div class="line"></div>
  </div>
  <div class="buttons">
    <div class="button font-big" style="background-color: hsl(45, 97%, 50%, 0.2)">
      <i class="fa fa-google fa-5" aria-hidden="true"></i>
    </div>
    <div class="button font-big" style="background-color: hsl(214, 89%, 52%, 0.2)">
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
    </div>
    <div class="button font-big" style="background-color: hsl(240, 11%, 96%, 0.2)">
      <i class="fa fa-apple" aria-hidden="true"></i>
    </div>
  </div>
</div>
<div class="toast">
  <i class="toast-icon"></i>
  <div class="toast-message"></div>
</div>
{% endblock content %}
